<div class="container">
	<form action="index" method="post">
		<div class="row shadow-lg p-3 mb-5 bg-body rounded">
			<div class="col-3 mb-3">
				<input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
			</div>
			<div class="col-3">
				<input name="mdp" type="password" class="form-control" id="mdp" placeholder="">
			</div>
			<div class="col-3">
				<button type="submit" class="btn btn-primary mb-3">Sign in</button>
			</div>
		</div>
	</form>
</div>
