<div class="container">
    <div class="row">
        <div class="col-3 shadow-lg p-3 mb-5 bg-body rounded">
            <form action="" method="post">
                <h2>Créer votre compte</h2>

                <div class="row">
                    <div class="col-10 mb-2">
                        <div class="mb-3">
                            <label for="email" class="form-label">Adresse mail :</label>
                            <input name="email" type="email" class="form-control mb-2" id="email"
                                placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="userName" class="form-label">Nom d'utilisateur :</label>
                            <input name="userName" type="text" class="form-control mb-2" id="userName"
                                placeholder="name">
                        </div>
                        <div class="mb-3">
                            <label for="mdp1" class="form-label">Mode de passe :</label>
                            <input name="mdp1" type="text" class="form-control mb-2" id="mdp1" placeholder="">
                            <label for="mdp2" class="form-label">Saisir à nouveau votre mode de passe :</label>
                            <input name="mdp2" type="text" class="form-control mb-2" id="mdp2" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <button type="submit" class="btn btn-primary mb-3">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>