<div>
	<div class="card">
		<h5 class="card-header">Erreur</h5>
		<div class="card-body">
			<h5 class="card-title">Erreur</h5>
			<p class="card-text">Ceci est une page d'erreur
				{{erreur}}.</p>
			<a href="affichageFilms" class="btn btn-primary">Retour</a>
		</div>
	</div>


</div>
