<div>
	<div class="container">
		<div class="row">
			<div class="col-3 shadow-lg p-3 mb-5 bg-body rounded">
				<label class="form-label text-success">suppression du Film confirmé</label>
			</div>
		</div>
	</div>
	{% if film is defined %}
		{{film}}
	{% endif %}
</div>
